@{
    ViewBag.Title = "Home Page";
   
}

         <div class="row">
             <div class="col-md-6">
                 <h1>The World</h1>
                 <p class="text-center">
                     Don't wait until you're reaching your goals to be proud of yourself.<br>
                     Be proud of every step you take towards reaching your goals. <br>
                     You can do anything if you set your mind to it. Because you believe you can do it.<br>
                     Even if t's poorly planned and humble, I want to draw my own future by myself.<br>
                 </p>

                 <form>
                     <div class="form-group">
                         <label>Date</label>
                         <input class="form-control"/>
                     </div>
                     <div class="form-group">
                         <label>Location</label>
                         <input class="form-control" />
                     </div>
                     <div><input type="submit" value="Add" class="btn btn-success"/></div>
                 </form>
             </div >
             <div class="col-md-6">
                 <h2>The Map</h2>
             </div>
</div>